html, body {
  margin: 0;
  padding: 10px;
  font-family: 'Hiragino Sans';
  font-weight: 100;
  color: white;
  background: #282A36;
}

h1, h2 {
  font-family: 'Hiragino Sans';
  font-weight: 100;
}

h2 {
  text-decoration: underline;
}
